.Main {
  background: url('/img/bg-signin.jpg');
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  animation: rotate 5s infinite alternate linear;
  color: #868b94;

  &-card {
    width: 400px;
    padding: 100px 30px 32px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(26px);
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
  }

  &-image {
    width: auto;
    display: table;
    border-radius: 50%;
    background: #363945;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    // margin-top: 50px;
    margin-bottom: 20px;
    
    img {
      height: 100px;
      border-radius: 50%;
      // border: 2px solid #fff;
    }
  }
  
  
  h2 {
    // margin: 0 auto;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 8px;
    color: #f9f9f9;
  }

  h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
  } 

  // &-form {
  //   padding: 10px;
  // }

  .username {
    position: relative;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    max-width: 100%;
  }

  .control {
    border: none;
    border-radius: 8px;
    max-width: 100%;
    height: 56px;
    padding: 0px 16px;
    background: rgba(255, 255, 255, 0.1);
    color: #f9f9f9;
    margin: 8px 0;
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
  }

  &-form {
    display: flex;
    flex-direction: column;
    padding: 0 22px;
  }

 &-form > button.control {
    cursor: pointer;
    // width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #f9f9f9;
    color: #000000;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }

  
  // .spinner {
  //   position: absolute;
  //   top: 50%;
  //   right: 16px;
  //   translate: 0 -50%;
  //   width: 24px;
  //   height: 24px;
  //   border-radius: 50%;
  //   border: 3px solid #ccc9e1;
  //   border-top-color: #8f44fd;
  //   opacity: 0;
  //   animation: spin 1s infinite linear;

  //   .visible {
  //     opacity: 1;
  //   }
  // }

  // .indicator {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  @keyframes spin {
    100% {
      rotate: 1turn;
    }
  }

  @keyframes rotate {
    100% {
      background-position: 0% 50%;
    }
  }

  #bars {
    margin: 8px 0;
    
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  #bars div {
    height: 6px;
   
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
  }
  
  #bars.weak div {
    background: #bc2b38;
    width: 33.33%;
    
  }
  
  #bars.medium div {
    background: #d36f30;
    width: 66.66%;
  }
  
  #bars.strong div {
    background: #1eb965;
    width: 100%;
  }
  
  .Strength {
    text-align: left;
    height: 30px;
    text-transform: capitalize;
  }
}